{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Zmen hesla" %}{% endblock %}

{% block content %}
    <div class="container">
    <h1>{% trans "Zmena hesla" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit" name="action">{% trans "Zmena hesla" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Zbudol ste heslo?" %}</a>
    </form>
    </div>
{% endblock %}