{% extends "_base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Nstaviť heslo" %}</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>{% blocktrans %}Poslali sme Vám e-mail na udanú adresu. Ak ste ho nedostali v priebehu niekoľkých minút, prosím skontrolujte si vo Vašom mailovom klientovi adresár spam či tam nespadol. 
            V opačnom prípde kontaktujte cez {% endblocktrans %}<a href="{% url 'contact' %}">Kontaktný formulár</a>{% blocktrans %}{% endblocktrans %}</p>
    </div>
{% endblock %}
