{% extends '_base.html' %}

{% load static %}

<title>{% block title %}About | {{ block.super }}{% endblock %}</title>

{% block content %}
    <div class="bg-about px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">O mojej webovej stránke</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Moj awebová stránka sa zameriava na demonštrovanie funkčnosti Bootstrapu pri vývoji webu a konkrétne sa zameriava na jednoduchosť,
                ktorá prichádza s implementáciou responzívnej funkcionality t.j. možnosti použitia predovšetkým pre mobilné zariadenia, používa k 
                tomu ako početné komponenty ktoré boli zostavené vopredkomponenty, tak aj výkonné doplnky JavaScript-ov. Ako používť doplnky 
                JavaScript-ov je samostatnou problemtikou ktorá tu nie je rozoberaná a s ktorou sa môžete zoznámiť [tu](https://www.w3schools.com/js/)
            </p>
            {% if not user.is_authenticated %}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a type="button" class="btn btn-outline-primary btn-lg px-4 gap-3" href="{% url 'account_login' %}">Prihlásenie</a>
                    <a type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3" href="{% url 'account_signup' %}">Registrácia</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="bg-dark text-secondary px-4 py-5 text-center">
      <h1 class="display-5 fw-bold text-white">Back End</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Moja webová plikcia predstvuje webovú stránku typu full-stack t.j. vývoj back-endu, 
          ktorý prebiaha sprvidla na vzdilenom serveri a front-endu, ktorý prebieh na klientovi s ktorým 
          komunikuje uživateľ. Django je tu využívaný na back-end. Ďalej ukazuje nie len na implementáciu databázového 
          modelu jednoduchým spôsobom ale aj na to ako zobraziť architektúru šablón, značky šablón, operácie CRUD a 
          požiadavky resp. odpovede v rámci HTTP.
          
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="https://docs.djangoproject.com/" target="_blank">Dokumentácia Django</a>
        </div><br>
          <img class="d-block mx-lg-auto img-fluid" width="600" height="250" src="{% static 'img/django-logo.png' %}" style="align-content: start" alt="Django">
      </div>
    </div>
  </div>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/bootstrap-logo.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Front-End</h1>
        <p class="lead">Front-end mojej webovej stránky využíva rámec Bootstrap. Ukazuje použitie bootstrap formulárov, 
          kariet, navigačnej lišty, rôznych rozložení prvkov na stránke, ktoré možno rozšíriť na ešte bohatšie funkcie 
          pomocou knižníc a kódu tretích strán.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="https://getbootstrap.com/" target="_blank">Dokumentácia Bootstrap</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}