{% extends '_base.html' %}

{% load crispy_forms_tags %}

<title>{% block title %}Vytvorenie príspevku do blogu | {{ block.super }}{% endblock %}</title>

{% block content %}
    <div class="container">
    <h1 style="text-align: center">Vytvorenie príspevku do blogu</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button class="btn btn-primary">Potvrdenie</button>
    </form>
    </div>
{% endblock %}