{% extends '_base.html' %}

<title>{% block title %}Home | {{ block.super }}{% endblock %}</title>

{% block content %}
    <div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
      {% if user.is_authenticated %}
          <h1 class="text-primary display-5 fw-bold">Ahoj {{ user.username|capfirst }}</h1>
      {% endif %}
        <h1 class="display-5 fw-bold">Vítaj na mojej webovej stránke</h1>
        <p class="col-md-10 fs-4">Moja webová stránk ukazuje na to ako použiť pythonov framework Django a css framework Bootstrap na vývoj webových stránok, ktoré sú interaktívne a prispôsobitelné rôznym druhom zariadení od mobilov cez tablety a notebooky až po stolové počítače. Pri vývoji
        používame postup ktorý začína pri návrhu datbázového modelu a pokračuje cez adresáciu stránok (urls), view (logiku zobrazenia) až po vytvorenie príslušnej šablóny. Tento projekt okrem domovskej stránky (Home) obsahuje aj ďalšie nadvezujúce stránky, z ktorých každá má jedinečný dizajn
        a možnosti uživateľského prístupu. Tieto sú zabezpečené jednotlivými funkciami a možnosťami ktoré ponúka Bootstrap a Django. Pôvodná verzia a návod k nej sú určené pre kontajnerovú technológiu Docker a pochádzajú od autora Josepha Kariukiho. Túto pôvodnú verziu je možné nájisť na 
        autorovom <em><a href="https://github.com/jkaris/my-demo-website">github-e</a></em> resp. <em><a href="https://www.youtube.com/watch?v=lqn_CmTQ7y0&list=PLIET7uEHqcqif6wye0sL-XZ9o95zgYmaa&index=5">videu Part 1</a></em>. Ja som túto verziu upravil na verziu lokálnu vrátane použitia
        databázového systému PostgreSQL. 
        </p>
          {% if not user.is_authenticated %}
              <a class="btn btn-outline-info btn-lg" type="button" href="{% url 'account_signup' %}">SignUp</a>
              <a class="btn btn-outline-primary btn-lg" type="button" href="{% url 'account_login' %}">Log In</a>
          {% endif %}
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Bootstrap</h2>
          <p>Bootstrap je veľmi často používaný Cascading Style Sheet (CSS) t.j. framework kaskádových štýlov určený na vývoj responzívnych a mobilných webových stránok. Je to
          bezplatný a tzv. open source (otvorený) webový vývojový rámec navrhnutý na uľahčenie procesu vývoja webových stránok ktorý je zameraný na spracovanie odozvu a mobilnú interaktivitu s uživateľom, a
          ktorý tiež ponúka celý rad konštrukčných prvkov pre syntax a rôzne vzory šablón.
          </p>
          <a href="https://getbootstrap.com/docs" target="_blank" class="btn btn-outline-light">Dokumentácia k Bootstrapu</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Django</h2>
          <p>Je veľmi často používaný webový rámec Pythonu, ktorý je určený pre vývoj webových stránok. Už pri vývoji od samého začiatku ponúka celý rad funkcii,
             ktoré umožnujú veľmi rýchle napredovanie vo vývoji webovej aplikácie. Django poskytuje bohatý výber funkcii Objektovo Relačného Modelu (ORM) pre prácu
             s databázou v objektovo orientovanom prostredí, ktorý umožňuje rýchly vývoj aplikácii prostredníctvom atribútov objektov modelu (Model), ktoré 
             prislúchajú príslušným poliam tabuľky a nadvezujú na šablóny (Template) ktoré sú zobrazovné (View). Ide o aplikáciu tzv. MTVarchitektúry. Zanedbateľnou
             ani nie je rozsiahla a aktívnu vývojová komunita, ktorá je garanciou ďaľšieho rozvoja.
          </p>
            <a href="https://docs.djangoproject.com/" target="_blank" class="btn btn-outline-secondary" role="button">Dokumentácia k Django</a>
        </div>
      </div>
    </div>
    </div>
{% endblock %}
